link(rel='apple-touch-icon' sizes='180x180' href='images/general/apple-touch-icon.png')
link(rel='icon' type='image/png' sizes='32x32' href='images/general/icon-32x32.png')
link(rel='icon' type='image/png' sizes='16x16' href='images/general/icon-16x16.png')
if site.themeColor
    link(rel='mask-icon' href='images/general/safari-pinned-tab.svg' color=site.themeColor)
    meta(name='theme-color' content=site.themeColor)
